body{
    margin:0;
    padding:0;
}
.container1 {
    margin:0;
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);
    border:2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.container2 {
    margin:0;
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);
    border:2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container1 img {
    margin:10px;
    height:90px;
    width:150px;
}
.container2 img {
    margin:10px;
    height:90px;
    width:150px;
}