/* Coolors Exported Palette - coolors.co/05386b-379683-5cdb95-8ee4af-edf5e1 */

/* HSL */
$color1: hsla(210%, 91%, 22%, 1);
$color2: hsla(168%, 46%, 40%, 1);
$color3: hsla(147%, 64%, 61%, 1);
$color4: hsla(143%, 61%, 73%, 1);
$color5: hsla(84%, 50%, 92%, 1);

/* RGB */
$color1: rgba(5, 56, 107, 1);
$color2: rgba(55, 150, 131, 1);
$color3: rgba(92, 219, 149, 1);
$color4: rgba(142, 228, 175, 1);
$color5: rgba(237, 245, 225, 1);

$color1:#05386B;
$color2:#379683;
$color3:#5CDB95;
$color4:#8EE4AF;
$color5:#D17B0F;